{% extends "base.html" %}
{% block content %}
<div id="content">
{% for article in articles_page.object_list %}
{% if loop.first %}
<div class="listsection" id="firstarticle">
{% else %}
<div class="listsection">
{% endif %}
  <h2 class="listsectionheader"><a href="/{{ article.url }}">{{ article.title }}</a></h2>
  <p class="listsectioncontent">
    <b>{{ article.summary }}</b>
  </p> <!-- listsectioncontent -->
</div> <!-- listsection -->
{% endfor %}
</div> <!-- content -->
{% include "modules/pagination.html" %}
{% endblock %}
