$bg-color: #eee;
$main-color: black;
$glitch-duration: 2s;
$glitch-steps: 100;
$glitch-color-a: red;
$glitch-color-b: blue;
$separator-character: "<";

html {
  background-color: $bg-color;
  font-family: sans-serif;
  color: $main-color;
}

a {
  text-decoration: none;
}

#container {
  font-family: monospace;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

#header {
  text-align: right;
  margin-right: 2rem;
  flex: 1 1 auto;
  font-family: monospace;
  ul {
    list-style: none;
    font-size: 1.2rem;
    margin-left: 0;
    li {
      display: inline-block;
      padding-left: 1em;
      text-indent: -1em;
    }
    li::before {
      content: $separator-character;
      padding-right: 5px;
    }
  }
}

#title {
  font-size: 3.0rem;
  font-family: serif;
  a {
    color: $main-color;
  }
}

/*
 * This content div is the block which all page content will be placed into, below
 * the header. It'll contain a "listsection" div which will hold one piece of content.
 */

#content {
  display: flex;
  flex-direction: column;
  /* This must be the same as title margin-right */
  margin-left: 2rem;
  margin-right: 2rem;
}

/*
 * Wrapped in a 3px border and then drop-shadowed. This div can be used
 * by itself to complete the theming of a page, or with multiple
 * child divs to create a summary, article, or page content
 */

.listsection {
  flex: 1 1 auto;
  border: 3px solid $main-color;
  /* Some room between the drawn box & content */
  padding-right: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  box-shadow: 9px 9px $main-color;
  p {
    font-size: 1.0rem;
    a {
      text-decoration: underline;
      color: blue;
    }
  }
}


.listsectionheader {
  font-family: sans-serif;
  font-size: 2.5rem;
  margin: 0 0 0 0;
}

.articletitle {
  font-size: 2.5rem;
}

#firstarticle {
  flex: 2 1 auto;
}

.subheader {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

.subheader-left {
  flex: 1 1 auto;
}

.subheader-left h2 {
  margin: 0 0 0 0;
}

.subheader-right {
  flex: 1 1 auto;
  text-align: right;
  line-height: 1rem;
}

/* Place the left-side links under the main content */
@media all and (max-width: 1000px) {
  .subheader {
    flex-direction: column;
  }
  .subheader-right {
    text-align: left;
  }
}

@media all and (max-width: 600px) {
  #container {
    flex-direction: column;
  }
  #header {
    text-align: center;
    margin: 0 0 0 0;
    ul {
      font-size: 1.2rem;
      li {
        display: block;
        padding-left: 0em;
        text-indent: 0em;
      }
      li::before {
        content: "";
        padding-right: 0px;
      }
    }
  }
}

/* Glitch Effect for Header */

.glitch {
  position: relative;
}

@keyframes glitch-anim-1 {
  @for $i from 0 through $glitch-steps {
    #{percentage($i*(1/$glitch-steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}


@keyframes glitch-anim-2 {
  @for $i from 0 through $glitch-steps {
    #{percentage($i*(1/$glitch-steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}

.glitch::before {
  /* Make content identical */
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  /* Unique elements */
  left: 3px;
  text-shadow: -1px 0 $glitch-color-a;

  animation: glitch-anim-1 $glitch-duration infinite linear alternate-reverse;
}

.glitch::after {
  /* Make content identical */
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  /* Unique elements */
  left: -3px;
  text-shadow: -1px 0 $glitch-color-b;

  animation: glitch-anim-2 $glitch-duration infinite linear alternate-reverse;
}
